html {
    margin: 0;
    height: 100%;
}

body {
    margin: auto;
    height: 100%;
}

#gameContainer {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 75%;
    height: 80%;
}

#gameContainer canvas {
    margin: auto;
}

